
.username{
	margin-bottom: 25px;
}
.page-wraper{
	margin-left:100px;
	margin-right: 100px
}


.medal{
	width:75px;
	height:auto;
}

.achievement{
	text-align: center;
}

img.avatarNav {
    border-radius:50px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    dipslay:table-cell;
    vertical-align:middle;
}